@model UrbanJunction.Web.ViewModels.PostFormViewModel

@{
    ViewData["Title"] = "Create Post";
}

<div class="container mt-4">
    <h2 class="text-center mb-4 text-white">Create a New Post</h2>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Title" class="form-label text-white"></label>
            <input asp-for="Title" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Content" class="form-label text-white"></label>
            <textarea asp-for="Content" class="form-control" rows="5"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label text-white">Upload Photos (optional)</label>
            <input type="file" name="imageFiles" class="form-control" multiple accept="image/*" />
        </div>


        <button type="submit" class="btn btn-primary w-100">Post</button>
    </form>
</div>
